PORT=3000

# Neon Tech PostgreSQL
DATABASE_URL=postgresql://neondb_owner:password@ep-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=require

# AI providers
GOOGLE_GEMINI_API_KEY=AIzaxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxx

# Actian VectorAI DB
ACTIAN_VECTOR_HOST=localhost
ACTIAN_VECTOR_PORT=6574
ACTIAN_VECTOR_REST_URL=http://localhost:50051

# Clerk Auth
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxx